* {
    padding: 0;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    box-sizing: border-box;
}

body {
    background-image: url("../images/wp_1.jpg");
}

.nav_wrapper {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;

}

a.icon {
    display: none;
}

.nav_button a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_button:hover {
    background-color: rgb(73, 73, 73);

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 15px;
}

.youtube {
    padding: 1.5em;
}

.quotes {
    text-align: center;
    font-size: 1.3em;
    padding: 15px;
    line-height: 1.5em;
    background-color: rgba(105, 105, 105, 0.472);
    border-radius: 5px;
    
}

.quotes > q, i {
    color: white;
}

#eg1 {
    background-image: url("../images/easter_eggs1.jpg");
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(92, 92, 92, 0.247);
    text-transform: uppercase;
    text-align: center;
    z-index: 999999;
}


@media screen and (max-width: 1020px) {
    .nav_button {
        float: none;
    }
}