html,
body {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.imgs_princ {
    margin-top: 1.5em;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

a {
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
}

#accueil_btn {
    padding: 1.2em;
    text-decoration: none;
    background-color: #191a19;
    transition: background-color 0.2s ease-out;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}
  
  #accueil_btn:hover {
    background-color: #626262;
  }

  img {
    width: 90%;
    height: 90%;
    padding: 10px;
    background: #191a19;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

img:hover {
  background-color: #626262;
}


@media screen and (max-width: 900px) {
    a {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    .imgs_princ {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    html, body {
        overflow-y: auto;
    }
}